<h1>Olá!</h1>

 <div class="container mt-5">
    <h2>Criar Novo Usuário</h2>
    <form action="/store" method="post">

      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>

      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="password" required>
      </div>

      <button type="submit" class="btn btn-primary">Fazer Login</button>
    </form>
  </div>


{{!-- {{#each listagem}}
    <p>{{id}}</p>
    <p>{{nome}}</p>
{{/each }} --}}